*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: gray;
}
#gtd{
    margin-left: 7rem;
}

.hero{
    position: relative;
}
#herojpg{
    width: 1380px;
}
.hello{
    text-align: center;
    position: absolute;
    top:14rem;
    left:30rem;
    font-weight: 500;
    font-size: 70px;
}

.images{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 24rem;
    left: 20rem;
}
#second {
    margin: 0 30px;
}

#how{
    color: yellow;
}
.start{
    align-items: center;
    margin-top: 12rem;
    justify-content: center;
    text-align: center;

}

.text{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    width: 60rem;
    margin-left: 10rem;

}
.line{
    margin-top: 20px;
    background-color: yellow;
    height: .5rem;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    padding: 30px;
}

ul{
    list-style: none;
}

h3{
    margin-bottom: 1rem;
    color: yellow;
}

li{
    color: #fff;
}